@media (min-width: 760px) {

    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .copyright {
        margin-left: 1rem;
    }

    /* Navigation */
    .navigation {
        position: static;
        display: flex;
        flex-direction: row;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        padding: .1rem .3rem;

        border: 2px solid var(--clr-primary);
        border-radius: .5rem;

        font-size: 1.2rem;
    }

    .navigation a:hover {
        text-decoration: none;
        border-color: var(--clr-accent);
    }

    .current {
        background-color: transparent;
    }

    .current a {
        background-color: var(--clr-primary);
    }

    .current a:hover {
        background-color: var(--clr-accent);
    }

    #menu {
        display: none;
    }

    /* List Menu */
    .list-menu .current {
        background-color: var(--clr-primary);
    }

    /* Home cards */
    .home-cards {
        margin-bottom: 2rem;
    }

    .home-cards,
    .spotlights {
        display: flex;
        flex-direction: row;

        margin-left: 2rem;
        margin-right: 2rem;
    }

    .home-cards .card {
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    #current-events {
        width: 60%;
    }

    #current-weather,
    #forecast {
        width: 20%;
    }

    #forecast p {
        font-size: 1.2rem;
    }

    #divider {
        display: none;
        margin: 0;
    }
}