@media (min-width: 760px) {

    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .copyright {
        margin-left: 1rem;
    }

    /* Navigation */
    .navigation {
        position: static;
        display: flex;
        flex-direction: row;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        padding: .1rem .3rem;

        border: 2px solid var(--clr-primary);
        border-radius: .5rem;

        font-size: 1.2rem;
    }

    .navigation a:hover {
        text-decoration: none;
        border-color: var(--clr-accent);
    }

    #menu {
        display: none;
    }

    /* Home cards */
    .home-cards {
        display: flex;
        flex-direction: row;

        margin-left: 2rem;
        margin-right: 2rem;
    }

    /* #current-events {
        width: 50%;
    }

    #current-weather {
        width: 25%;
    }

    #forecast {
        width: 25%;
    } */
}